@use '@lucas-labs/lui-micro/var' as var;
@use '@lucas-labs/lui-micro/color' as color;

@mixin apply-styles {
    #project-board {
        .project-column-header {
            .project-column-title {
                .circular.label {
                    display: flex;
                    padding: 0 !important;
                    align-items: center;
                    justify-content: center;
                    line-height: 16px;
                    padding: 0 var.get('measure/.25x') !important;
                }
            }
        }
    }    
}
