@use '@lucas-labs/lui-micro/var' as var;
@use '@lucas-labs/lui-micro/color' as color;

@mixin apply-styles {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: var.get('measure/1x');

        .ui.container {
            margin: 0 0 0 0 !important;
            max-width: unset !important;
            width: 100% !important;
            padding: 0 var.get('measure/1x');
        }

        .repo-header {
            margin: 0 0 var.get('measure/1x') 0;
        }

        .ui.tabs.divider {
            margin-bottom: 0;
        }
        
        .ui.tabular.menu.navbar {
            .item {
                --item-margin-bottom: #{var.get('measure/1x')};
                margin: var(--item-margin-bottom) var.get('measure/.5x');
                border-radius: var.get('measure/.25x');
                padding: var.get('measure/.5x') var.get('measure/.5x');
                color: var(--color-text);
                border: none;

                svg {
                    color: var(--color-text-light-3);
                    margin-right: var.get('measure/.5x');
                }

                &.active {
                    background-color: transparent;
                    color: var(--color-text);
                    border-radius: var.get('measure/.25x') !important;
                    font-weight: normal;
                    // border-bottom: 4px solid color.get('primary/base');;

                    &::after {
                        background: color.get('primary/base');;
                        border-radius: 6px;
                        bottom: calc(0px - var(--item-margin-bottom));
                        content: "";
                        height: 2px;
                        position: absolute;
                        right: 50%;
                        transform: translate(50%, -50%);
                        width: 100%;
                        z-index: 1;
                    }
                }

                .small.label {
                    background-color: color.get('elevation/7');
                    border: 1px solid color.get('elevation/7');
                    border-radius: var.get('measure/2x');
                    color: var(--color-text);
                    font-weight: var(--base-text-weight-medium, 500);
                    min-width: calc(var.get('measure/1.25x') + 6px);
                    padding: 6px;
                    text-align: center;
                }

                &:hover {
                    background-color: color.get('elevation/4');
                }
            }
        }
    }    
}
