@use '@lucas-labs/lui-micro/var' as var;
@use '@lucas-labs/lui-micro/color' as color;
@use '../../components/button' as button;

@mixin apply-styles {
    .repo-button-row-left {
        gap: var.get('measure/.5x');

        .button {
            @include button.hollow;
        }

        .breadcrumb.repo-path {
            font-size: var.get('font-size/lg');
            padding: 0 0 0 var.get('measure/.5x');

            .section {
                &:first-of-type, &.active {
                    font-weight: 600;
                }
            }

            .breadcrumb-divider, button {
                color: color.get('subtle') !important;
            }

            button {
                border-radius: var(--border-radius);
                padding: var.get('measure/.375x');
                margin: 0 0 0 var.get('measure/.5x') !important;

                svg {
                    width: var.get('measure/1x');
                    height: var.get('measure/1x');
                }

                &:hover {
                    background-color: var(--color-nav-hover-bg);
                }
            }
        }
    }

    .repo-home-filelist {
        > div {
            margin: 0 !important;
        }

        display: flex;
        flex-direction: column;
        row-gap: var.get('measure/1x');

        // file list table
        #repo-files-table {
            // header
            .repo-file-last-commit {
                padding: var.get('measure/.75x') var.get('measure/1x') !important;

                .commit-summary {
                    margin: 0;
                }

                .latest-commit {
                    gap: var.get('measure/.5x');

                    img {
                        // make it a circle (avatar)
                        border-radius: 50%;
                        width: var.get('measure/1.25x');
                        height: var.get('measure/1.25x');
                    }
                }

                .label {
                    // boton con icono y avatar
                    .detail.icon.button img {
                        display: none;
                    }
                }
            }

            // cells
            .repo-file-cell {
                padding: var.get('measure/.5x') var.get('measure/1x') !important;

                &.name {
                    display: flex;
                    flex-wrap: nowrap;
                    column-gap: var.get('measure/.5x');
                    align-items: center;
                }
            }
        }

        // readme
        #readme {

        }
    }
}
